/* Meni */
.navbar{
   background-color: rgb(80, 146, 247);
}
.nav-item a:hover{
   color:white;
}
.nav-right{
   margin-left: auto;
}

/*Domov*/
h1, h2{
   text-align: center;
   padding: 15px;
}

div{font-family:'Open Sans', sans-serif;
}

article, section{
   width: 70%;
   font-family:'Open Sans', sans-serif;
   margin: 0 auto;
   padding: 10px;
}
.flexbox{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   flex-wrap: wrap;
}
.flex-container{
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   width: 300px;
   padding: 15px;
}

.ikona{width: 250px;
height: 250px;}
.flex-item{
   display: flex;
}

.ekipa{
   width: 100%;
}

@media (max-width: 770px) {
  .flexbox {
    flex-direction: column;
  }
}
/* Noga spletne strani <footer> */
footer {
    background-color: rgb(80, 146, 247);
    min-height: 80px;
    color: black;
    padding: 15px 0;
 }
 footer a { color: black; }
 
footer a:hover{color:white;}

 .nogaLevo{ text-align: right; }
 
 .nogaLevo .fa {padding: 0px 5px; }
 
 .nogaDesno{
    text-align: left;
    padding-top: 8px;
 }
 
 @media (max-width: 770px) {
    .nogaLevo{
       text-align: center;
       padding: 15px 5px;
    }
    .nogaDesno{
       text-align: center;
       padding: 15px 0;
    }
 }
/* Ocene produktov - kartice*/

#vodici .vodici-okvir {
   border: 1px solid #efefef;
   opacity: 0.9;
   margin: 15px 0;
 }
 #vodici a {
   color: #000;
   text-decoration: none;
 }
 #vodici a .vodici-okvir:hover {
   color: #000;
   opacity: 1;
   background-color: #837b7b;
   text-decoration: none;
 }
 #vodici .kartica { padding: 10px }
 #vodici .kartica-naslov { color: #FFF; font-size: 1.3em }
 #vodici .kartica-text { font-size: 1.1em }
 #vodici .kartica-text-min { color: #999; font-size: .9em; font-style: italic }
 #vodici .vodici-okvir img { width: 100% }

 /*sestavi svoj računalnik - i-okvir*/

.seznam{
   list-style-type: circle;
}

 iframe{
   display: block;
   margin: 0 auto;
   background-color: #777;
 }

 /*Miške in tipkovnice*/
 .PeriVideo{
   height: 315px;
   width: 560px;
 }

 @media (max-width: 770px) {
   .PeriVideo{
      height: 20%;
      width: 100%;
   }
 }

 /* Procesor */

.cpu {border: 2px solid #e6dfd5 !important;}
.tabla{
   width: 100%;
   border: 2px solid #e6dfd5 !important;
 }
 th{
   height: 30px;
   border: 2px solid #e6dfd5 !important;
 }
 
 /* Kontakt-obrazec */
 form, input{
   padding: 5px;
 }
 .gumb{
   margin: 0 5px;
  padding: 10px;
  border: 1px solid white;
  border-radius:5px;
  background-color:#0079F2;
 }
 .gumb:hover{
   background-color: #233a79;
   color: white;
 }